body
	min-width: 320px
	+f("psr", 16)
	line-height: 1.2
	color: $black
	-webkit-font-smoothing: subpixel-antialiased
	
// layout
.container
	padding: 0 15px
	+sm
		padding: 0 10px
		
.container-mob
	padding: 0 10px
	background: #fff
	border: 8px solid #ebecec
	& + &
		border-top: 0
	&_no-padding
		padding: 0
		border-bottom: 0
	&_sm
		padding: 0 5px
		border: 4px solid #ebecec
.out
	overflow: hidden
	
// titles
h1, h2, h3, h4, h5, h6
	font-weight: normal
	
.title-xs
	+f("oss",19,30)
	color: $black

.title-sm
	+f("psb",20)

.title-md
	font-family: Arial, sans-serif
	font-size: 20px
	line-height: 1.3
	
.title-lg
	color: #274F7F
	+f('psr', 21)
	text-transform: uppercase
	
// basic transition
=trs
	transition: .2s cubic-bezier(0.55, 0.09, 0.68, 0.53)

// links
.link-decor
	padding: 3px
	color: #008CFF
	background-image: linear-gradient(to right, #008CFF 33%, rgba(255, 255, 255, 0) 0%), linear-gradient(to left, #008CFF 16%, rgba(255, 255, 255, 0) 0%)
	background-size: 22px 2px, 6px 2px
	background-repeat: repeat-x
	background-position: bottom
	&:hover
		color: darken(#008CFF, 10)
		background-image: linear-gradient(to right, darken(#008CFF, 10) 33%, rgba(255, 255, 255, 0) 0%), linear-gradient(to left, darken(#008CFF, 10) 16%, rgba(255, 255, 255, 0) 0%)

// mini reset
a
	text-decoration: none
	color: inherit
	
img
	display: block
	
button
	background: none
	+f('psr')

// buttons
.btn
	position: relative
	display: inline-block
	min-width: 238px
	padding: 13px 41px 13px 5px
	+f("psr",18)
	color: $white
	outline: none
	text-decoration: none
	text-align: center
	background-color: #52C0E9
	border-bottom: 1px solid #E7E7E7
	-webkit-tap-highlight-color: transparent
	&::after
		content: ''
		position: absolute
		top: calc(50% - 14px)
		right: 13px
		z-index: 1
		width: 28px
		height: 28px
		+ico('btn_arr')
	&:hover
		background-color: #24568D
		border-bottom-color: #E63833
	&:hover::after
		+ico('btn_arr-hvr')
	&_dark
		background-color: #1768BF
		border-bottom-color: #F9BF84
		&::after
			+ico('btn_arr_dark')
		&:hover
			background-color: #24568D
			border-bottom-color: #E63833
		&:hover::after
			+ico('btn_arr_dark-hvr')

.send-btn
	position: relative
	padding: 0 70px 0 5px
	min-width: 232px
	line-height: 45px
	height: 45px
	color: #fff
	background: #6ca5db
	text-align: right
	border-bottom: 2px solid #a7b8c9
	+f("ver",19)
	overflow: hidden
	-webkit-tap-highlight-color: transparent
	&::after
		position: absolute
		top: 0
		right: -1px
		width: 45px
		height: 45px
		+ico('send')
		content: ''
	&:hover
		background-color: #415c89
		border-bottom-color: #a95a63
	&:hover::after
		+ico('send-act')
		
.confirm-btn
	position: relative
	height: 48px
	min-width: 270px
	padding: 0 27px 0 10px
	line-height: 44px
	font-size: 19px
	color: #fff
	background: #28B0E2
	border-bottom: 2px solid #E0E0E1
	overflow: hidden
	text-align: center
	text-transform: uppercase
	
	span
		border-radius: 2px
		border-bottom: 2px solid #2B99CC
	&::after
		content: ''
		position: absolute
		top: 0
		right: 0
		height: 46px
		width: 47px
		+ico('confirm')
	&:hover
		background: #06B2F0
		border-bottom-color: #FFBE77
		span
			border-bottom-color: #079DE3
	&:active
		background: #23568B
		border-bottom-color: #FF0000
		span
			border-bottom-color: #254478
	&:hover::after
		+ico('confirm-hvr')
	&:active::after
		+ico('confirm-act')
		
.order-btn
	position: relative
	min-width: 270px
	text-align: center
	color: #fff
	background: #28B0E2
	border-bottom: 2px solid #E0E0E1
	overflow: hidden
	text-transform: uppercase
	height: 45px
	padding: 0 33px 0 10px
	line-height: 44px
	font-size: 18px
	&::after
		content: ''
		position: absolute
		top: 0
		right: 0
		height: 43px
		width: 44px
		+ico('like')
	&:hover
		background: #06B2F0
		border-bottom-color: #FFBE77
	&:active
		background: #23568B
		border-bottom-color: #FF0000
	&:hover::after
		+ico('like-hvr')
	&:active::after
		+ico('like-act')
		
.btn-cart
	position: relative
	padding: 13px 60px 13px 26px
	font-size: 16px
	color: #fff
	background: #2AB1E2
	border-bottom: 2px solid #E3E3E3
	overflow: hidden
	&::after
		position: absolute
		top: -1px
		right: -1px
		width: 47px
		height: 47px
		+ico('cart_add-lg')
		content: ''
	&:hover
		background: #01B6F8
		border-bottom-color: #FFBE77
	&:hover::after
		+ico('cart_add-lg-hvr')
	&:active
		background: #23568A
		border-bottom-color: #E63E2D
	&:active::after
		+ico('cart_add-lg-act')
		
// basic helpers
.hidden
	display: none
	
=no-highlight
	-webkit-tap-highlight-color: transparent