---
title: Техно-принт
---
extends layouts/_layout

block header
	-
		var breadCrumbsList = [{text: 'Контакты', active: 'is-active'}];
	include partials/_header

block content
	+b.MAIN
		.container-mob.container-mob_no-padding
			+b.payment
				+e.in
					+e.title ОПЛАТА ТОВАРОВ И УСЛУГ
					+e.P.descr Принимаем наличный и безналичный расчеты. Работаем по договорам с организациями. Для дистанционной оплаты заказов на опт - свяжитесь с нами.
					+e.UL.list
						+e.LI Наличными
							+icon('icon-mark', 'payment__list-icon')
						+e.LI Безналичными
							+icon('icon-mark', 'payment__list-icon')
						+e.LI По договорам
							+icon('icon-mark', 'payment__list-icon')
				+e.bg-wrap
					+e.bg
						+e.bg-img(style='background-image: url(img/bg/payment.svg)')

				+e.wait-text ЖДЁМ ВАШИХ ЗАКАЗОВ!

		include components/_rubric
		include components/_benefits