---
title: Техно-принт
---
extends layouts/_layout

block header
	-
		var breadCrumbsList = [];
	include partials/_header

block content
	+b.MAIN
		include components/_product

		include components/_home-slider

		include components/_extra
		include components/_request

			include components/_rubric
		include components/_benefits
