---
title: Техно-принт
---
extends layouts/_layout

block header
	-
		var breadCrumbsList = [{text: 'Новости', active: 'is-active'}];
	include partials/_header

block content
	+b.MAIN

		+b.SECTION.news
			.container-mob.container-mob_sm
				+e.ARTICLE.post
					+e.post-pic
						+e.post-img-wrap
							+e.IMG(src='img/content/news-1.jpg')
						+e.post-date
							+e.SPAN 9 января 2017
							=  ' '
							+e.SPAN 13:25
					+e.post-title Заработал в полную мощность
						br
						| дополнительный офис на ул.  Первомайская
					+e.post-descr._important
						+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати.
						+b.P.hidden В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати.
						+e.BUTTON.post-more-btn.js-more-text-news(type='button')
							+icon('icon-arr-def', 'news__post-more-icon')

			.container-mob.container-mob_sm
				+e.ARTICLE.post
					+e.post-pic
						+e.post-img-wrap
							+e.IMG(src='img/content/news-2.jpg')
						+e.post-date
							+e.SPAN 9 января 2017
							=  ' '
							+e.SPAN 13:25
					+e.post-title Заработал в полную мощность
						br
						| дополнительный офис на ул.  Первомайская
					+e.post-descr
						+e.P В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати.
						+b.P.hidden В данный момент закончена установка оборудования, плоттеры для печати чертежей расставлены на специальные конструкции, с дополнительными роликами бумаги для печати. Это усиливает снижение себестоимости, надёжность в непрерывности печати и её скорость. Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и Сделаны большие корзины-приёмники для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати и для чертежей. Придя к нам, вы точно выиграете в цене, качестве печати.
						+e.BUTTON.post-more-btn.js-more-text-news(type='button')
							+icon('icon-arr-def', 'news__post-more-icon')

				+b.pagination._news
					+e.UL.list
						+e.list-item._prev
							+e.list-link(href='#!')
								+icon('icon-arr-page', 'pagination__icon-arr')
						+e.list-item.is-active
							+e.list-link(href='#!') 1
						+e.list-item
							+e.list-link(href='#!') 2
						+e.list-item
							+e.list-link(href='#!') 3
						+e.list-item._dots
							+e.list-link(href='#!') ...
						+e.list-item
							+e.list-link(href='#!') 11
						+e.list-item._next
							+e.list-link(href='#!')
								+icon('icon-arr-page', 'pagination__icon-arr')

		include components/_rubric
		include components/_benefits