// begin header
+b.HEADER.header
  +e.top
    +b.hamburger.js-menu-open.header__top-col
      +e.bar
    +e.top-col
      +e.BUTTON.top-btn._login.js-login-open(type='button')
        +icon('icon-user', 'header__top-icon')
    +e.top-col
      +e.BUTTON.top-btn.js-search-open(type='button')
        +icon('icon-loupe', 'header__top-icon')
    +b.cart.header__top-col
      +e.A.in(href='#!')
        +icon('icon-cart', 'cart__icon')
        +e.DIV.total
          +e.SPAN 0
          = ' '
          +icon('icon-ruble','cart__val-icon')

  +b.menu.js-menu
    +e.block
      +e.title
        +e.H3.title-text Меню
      +e.UL.list
        +e.item
          +e.A(href="#!").link Главная
        +e.item
          +e.A(href="#!").link Услуги фирмы
        +e.item
          +e.A(href="#!").link О нас
        +e.item
          +e.A(href="#!").link Новости
        +e.item
          +e.A(href="#!").link Доставка
        +e.item
          +e.A(href="#!").link Оплата
        +e.item
          +e.A(href="#!").link Оптовые цены
        +e.item
          +e.A(href="#!").link Контакты
      +e.UL.list
        +e.item
          +e.A(href="#!").link Корпоративные
        +e.item
          +e.A(href="#!").link Подарки
        +e.item
          +e.A(href="#!").link Сувениры по тематике
        +e.item
          +e.A(href="#!").link Лучшие
      +e.UL.list
        +e.item
          +e.A(href="#!").link Войти
        +e.item
          +e.A(href="#!").link Регистрация
        +e.item
          +e.A(href="#!").link Мои заказы
      +e.title
        +e.H3.title-text Продукция
      +e.UL.list
        +e.item
          +e.A(href="#!").link Футболки / Одежда
        +e.item
          +e.A(href="#!").link Вышивка
        +e.item
          +e.A(href="#!").link Кружки / Сувениры
        +e.item
          +e.A(href="#!").link Значки / Брелки
        +e.item
          +e.A(href="#!").link Фотокниги
        +e.item
          +e.A(href="#!").link Печать на холсте / Картины

    +e.rubric
      +e.BUTTON(type='button').rubric-open.js-rubric-open
        +e.SPAN Вся продукция подробно
        +icon('icon-arr-def', 'menu__rubric-arr')
      - var rubricClass = '_home'
      include ../components/_rubric

  +b.login.js-login
    +e.in
      +e.enter
        +e.text
          +e.SPAN Вход:
        +e.FORM(action='#!')
          +e.field._name
            +e.INPUT.input(type='name' name='' placeholder='Имя / Организация' required)
          +e.field._pass
            +e.INPUT.input(type='password' name='' placeholder='Пароль' required)
          +e.BUTTON(type='submit').btn
            +e.SPAN ВОЙТИ
      +e.registr
        +e.text
          +e.SPAN Регистрация:
        +e.FORM(action='#!')
          +e.field._name
            +e.INPUT.input(type='name' name='' placeholder='Имя / Организация' required)
          +e.field._email
            +e.INPUT.input(type='email' name='' placeholder='Почта' required)
          +e.field._pass
            +e.INPUT.input(type='password' name='' placeholder='Пароль' required)
          +e.field._pass
            +e.INPUT.input(type='password' name='' placeholder='Повторите пароль' required)
          +e.BUTTON(type='submit').btn
            +e.SPAN ЗАРЕГИСТРИРОВАТЬ

  +b.search.header__search.js-search
    +e.field
      +e.INPUT.input(type="text" name="" placeholder='Изготовление сувениров и подарков' required)
      +e.BUTTON.btn(type="submit")

  +e.mid
    +e.container.container
      +e.mid-col
        +b.logo
          +e.A(href="#!").link
            +e.IMG.img(src="img/logo.svg" alt="Техно-принт")
      +e.mid-col
        +b.NAV.nav.header__nav
          +e.UL.list.js-nav-list-scroll
            +e.LI.item
              +e.A.link(href='#!') Доставка
            +e.LI.item
              +e.A.link(href='#!') Оплата
            +e.LI.item
              +e.A.link(href='#!') Оптовые цены
            +e.LI.item
              +e.A.link(href='#!') Оплата
            +e.LI.item
              +e.A.link(href='#!') Услуги
            +e.LI.item
              +e.A.link(href='#!') Сувениры по тематике
            +e.LI.item
              +e.A.link(href='#!') О нас
            +e.LI.item
              +e.A.link(href='#!') Новости
            +e.LI.item
              +e.A.link(href='#!') Контакты

      +b.top-links.header__top-links
        +e.A(href="#!").link Услуги фирмы
        +e.A(href="#!").link Подарки
        +e.A(href="#!").link Корпоративные
        +e.A(href="#!").link Лучшие

      +b.breadcrumbs.header__breadcrumbs
        +e.A.link(href='#!')
          +icon('icon-house', 'breadcrumbs__icon')
          = ' '
          +e.SPAN Главная
// end header
