if catMenuClass ? catMenuClass : catMenuClass = []

+b.UL.category-menu(class= catMenuClass ? catMenuClass : '')
	+e.item
		+e.A.link(href='#!') Сувениры по тематике
	+e.item
		+e.A.link(href='#!') Вышивка
	+e.item
		+e.A.link(href='#!') Футболки с принтами
	+e.item
		+e.A.link(href='#!') Значки
	+e.item
		+e.A.link(href='#!') Кружки
	+e.item
		+e.A.link(href='#!') Фотокниги
	+e.item
		+e.A.link(href='#!') Картины для интерьера