+b.SECTION.extra
	+e.container.container
		+e.title.title-sm Полиграфические и дополнительные услуги фирмы:
		+e.text
			+e.item
				+e.item-title Работа с документацией от А4 до А0 форматов:
					+e.I.item-icon._parts
				+e.UL.item-list
					+e.item-product Печать чертежей - вывод на плоттеры
					+e.item-product Широкоформатное копирование и сканирование
					+e.item-product Переплетные работы
					+e.item-product Ламинирование
			+e.item
				+e.item-title Полиграфия:
					+icon('icon-polygraph', 'extra__item-icon')
				+e.UL.item-list
					+e.item-product Визитки
					+e.item-product Цифровая печать
					+e.item-product Интерьерная печать, плакаты
					+e.item-product Тиражирование
					+e.item-product Наклейки
					+e.item-product Дисконтные карты
					+e.item-product Дизайн продукции
			+e.item
				+e.item-title._offset Багетная мастерская:
					+icon('icon-framing', 'extra__item-icon')
				+e.UL.item-list
					+e.item-product Печать на холсте
					+e.item-product Натяжка подрамников
					+e.item-product Изготовление рам для картин
					+e.item-product Каталог репродукций для интерьеров
			+e.links
				+e.A.link.link-decor(href="#!") Все услуги фирмы
	+e.pic
		+e.pic-wrap
			+e.IMG.img(src='img/content/extra_img.png')