if homeSldClass ? homeSldClass : homeSldClass = []

+b.home-slider(class= homeSldClass ? homeSldClass : '').js-home-slider
	+e.item
		+e.IMG(src='img/content/sld-1.jpg')
		+e.A(href="#!").label Машинная вышивка

	+e.item
		+e.IMG(src='img/content/sld-2.jpg')
		+e.A(href="#!").label Значки и сувениры

	+e.item
		+e.IMG(src='img/content/sld-3.jpg')
		+e.A(href="#!").label Печать на одежде

	+e.item
		+e.IMG(src='img/content/sld-2.jpg')
		+e.A(href="#!").label Печать на одежде

	+e.item
		+e.IMG(src='img/content/sld-3.jpg')
		+e.A(href="#!").label Печать на одежде

	+e.item
		+e.IMG(src='img/content/sld-2.jpg')
		+e.A(href="#!").label Печать на одежде

	+e.item
		+e.IMG(src='img/content/sld-1.jpg')
		+e.A(href="#!").label Печать на одежде