if homeSldClass ? homeSldClass : homeSldClass = []

+b.home-slider(class= homeSldClass ? homeSldClass : '').js-home-slider
	+e.item
		+e.IMG(src='img/content/home-sld-1.jpg')
		+e.A(href="#!").label Машинная вы шивка

	+e.item
		+e.IMG(src='img/content/home-sld-2.jpg')
		+e.A(href="#!").label Значки и брелоки

	+e.item
		+e.IMG(src='img/content/home-sld-3.jpg')
		+e.A(href="#!").label Печать на кружках

	+e.item
		+e.IMG(src='img/content/home-sld-4.jpg')
		+e.A(href="#!").label Печать на одежде

	+e.item
		+e.IMG(src='img/content/home-sld-5.jpg')
		+e.A(href="#!").label Фотомагниты

	+e.item
		+e.IMG(src='img/content/home-sld-6.jpg')
		+e.A(href="#!").label Современны е фотокниги

	+e.item
		+e.IMG(src='img/content/home-sld-7.jpg')
		+e.A(href="#!").label Печать на холсте, натяжка