+b.product._home
	+e.container.container
		+e.sect.js-product-sect-open
			+icon('icon-arr-def', 'product__sect-arr')
			+e.sect-title
				+e.sect-icon-wrap
					+icon('icon-machine', 'product__sect-icon')
				+e.SPAN Машинная вышивка и товары под её нанесение
		+e.inn
			+e.suggest
				+e.suggest-links
					+e.A(href="#!").suggest-link
						+e.SPAN Вышивка шевронов
					+e.A(href="#!").suggest-link
						+e.SPAN Халаты с вышивкой
					+e.A(href="#!").suggest-link
						+e.SPAN Логотипы на изделиях
					+e.A(href="#!").suggest-link
						+e.SPAN Вышивка на полотенцах
					+e.A(href="#!").suggest-link
						+e.SPAN Новинки макетов вышивок
					+e.A(href="#!").suggest-link
						+e.SPAN Образцы работ

				+e.suggest-text
					+e.suggest-title ЕСТЬ ИДЕИ?
					+e.P.suggest-descr У вас много идей для оригинального подарка? Мы готовы воплощать их в жизнь! Разработаем дизайн и стили стежков, специально под ваш сувенир.
					+e.P.suggest-descr._hidden Вопреки расхожему мнению, что вышивка это  дорогостоящее удовольствие - поспешим отметить это выражение с оговоркой: - «Только не на нашем предприятии»!
					+e.BUTTON.suggest-more.js-product-suggest-more(type='button')
						+icon('icon-arr-def', 'product__suggest-more-icon')
			+e.examples
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-1.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-1_lg.jpg' data-fancybox='product-1')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Любая вышивка на  шевронной ткани, 7 цветов
							= ' '
						+e.item-descr Размер: 120х180мм
						+e.item-buy
							+e.A.buy-opt(href="#!") Опт. от
								= ' '
								+e.SPAN 240&nbsp;
								+icon('icon-ruble','product__val-icon')
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 400&nbsp;
									+icon('icon-ruble','product__val-icon')
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-2.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-1')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Любая вышивка на  полотенце, под  «Золото».
						+e.item-descr Размер: 250х100 мм
						+e.item-buy
							+e.A.buy-opt(href="#!") Опт. от
								= ' '
								+e.SPAN 140&nbsp;
								+icon('icon-ruble','product__val-icon')
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 400&nbsp;
									+icon('icon-ruble','product__val-icon')
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-3.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-3_lg.jpg' data-fancybox='product-1')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Полотенце -зайчик!
							= ' '
						+e.item-descr Услуга - сворачивание полотенец в виде  зайчиков, для подарка.
						+e.item-buy
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 150&nbsp;
									+icon('icon-ruble','product__val-icon')

			+e.A(href="#!").suggest-btn.btn Варианты вышивок

	+e.container.container
		+e.sect._color.js-product-sect-open
			+icon('icon-arr-def', 'product__sect-arr')
			+e.sect-title
				+e.sect-icon-wrap
					+icon('icon-shirts', 'product__sect-icon')
				+e.SPAN Печать на майках, футболках, толстовках и любой одежде.
		+e.inn
			+e.suggest
				+e.suggest-links
					+e.A(href="#!").suggest-link
						+e.SPAN Печать на майках
					+e.A(href="#!").suggest-link
						+e.SPAN Спортивные номера на одежду
					+e.A(href="#!").suggest-link
						+e.SPAN Нанесение логотипов
					+e.A(href="#!").suggest-link
						+e.SPAN Печать на кепках
					+e.A(href="#!").suggest-link
						+e.SPAN Печать на любой вашей одежде
				+e.suggest-text
					+e.suggest-title КАТАЛОГ ДИЗАЙНА
					+e.P.suggest-descr Каталог готовых дизайнов порадует вас и даст возможность поразмыслить над собственным вдохновением...
			+e.examples
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-4.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-4_lg.jpg' data-fancybox='product-2')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Майка с печатью, подарочная.
							= ' '
						+e.item-descr Женская, мужская или детская - любой вариант заготовки.
						+e.item-buy
							+e.A.buy-opt(href="#!") 2 шт. -
								= ' '
								+e.SPAN 480&nbsp;
								+icon('icon-ruble','product__val-icon')
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 620&nbsp;
									+icon('icon-ruble','product__val-icon')
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-5.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-5_lg.jpg' data-fancybox='product-2')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Нанесение на спортивные майки, термотрансферная пленка.
						+e.item-descr Размер нанесения: 280х120 мм
						+e.item-buy
							+e.A.buy-opt(href="#!") Опт. от
								= ' '
								+e.SPAN 140&nbsp;
								+icon('icon-ruble','product__val-icon')
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 350&nbsp;
									+icon('icon-ruble','product__val-icon')
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-6.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-2')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Комплексное брендирование одежды.
						+e.item-descr Нанесение на кепки и майки. Спецпредложение на опт.
						+e.item-buy
							+e.A.buy-opt(href="#!") Опт. от
								= ' '
								+e.SPAN 140&nbsp;
								+icon('icon-ruble','product__val-icon')
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 400&nbsp;
									+icon('icon-ruble','product__val-icon')
			+e.A(href="#!").suggest-btn.btn._dark Футболки и одежда

	+e.container.container
		+e.sect.js-product-sect-open
			+icon('icon-arr-def', 'product__sect-arr')
			+e.sect-title
				+e.sect-icon-wrap
					+icon('icon-cups', 'product__sect-icon')
				+e.SPAN Печать и изготовление сувенирных кружек, бокалов, тарелок.
		+e.inn
			+e.suggest
				+e.suggest-links
					+e.A(href="#!").suggest-link
						+e.SPAN Новый каталог дизайнов на кружки
					+e.A(href="#!").suggest-link
						+e.SPAN Нанесение логотипов на кружки
				+e.suggest-text
					+e.suggest-title КРУЖКА ПОЛЕЗНЫЙ И ПРИЯТНЫЙ ПОДАРОК!
					+e.P.suggest-descr Вы можете оригинально отличиться и приобрести двойную выгоду - посуду для использования и хорошее настроение при чаепитии.
					+e.P.suggest-descr._hidden Печать на кружках популярная услуга, ввиду практичности использования сувенира. У нас вы встретите эксклюзивные дизайн-макеты для печати на кружках, рассмотрите все возможные заготовки для печати.
					+e.BUTTON.suggest-more.js-product-suggest-more(type='button')
						+icon('icon-arr-def', 'product__suggest-more-icon')
			+e.examples
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-7.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title 3Д наложение дизайна на кружку - бесплатно!
						+e.item-descr Присылайте заготовки дизайна!
						+e.item-buy
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 0&nbsp;
									+icon('icon-ruble','product__val-icon')
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-8.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Нанесение на «Золотые» и «Серебряные» кружки.
						+e.item-descr Есть более  30 разновидностей заготовок.
						+e.item-buy
							+e.A.buy-opt(href="#!") Опт. от
								= ' '
								+e.SPAN 220&nbsp;
								+icon('icon-ruble','product__val-icon')
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 450&nbsp;
									+icon('icon-ruble','product__val-icon')
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-9.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Кружки с логотипами (любым вашим) - оптовое  предложение.
						+e.item-descr Отличный,  недорогой  сувенир!
						+e.item-buy
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 185&nbsp;
									+icon('icon-ruble','product__val-icon')
			+e.A(href="#!").suggest-btn.btn Сувенирны на посуде

	+e.container.container
		+e.sect._color.js-product-sect-open
			+icon('icon-arr-def', 'product__sect-arr')
			+e.sect-title
				+e.sect-icon-wrap
					+icon('icon-books', 'product__sect-icon')
				+e.SPAN Изготовление оригинальных фотокниг.
		+e.inn
			+e.suggest
				+e.suggest-text
					+e.suggest-title НОВИНКИ МИРА ФОТОКНИГ!
					+e.P.suggest-descr У нас вы встретите лучшие новинки технологий изготовления фотокниг! Это голографические обложки
					+e.P.suggest-descr._hidden и готовые обложки от производителей для изготовления свадебных фотоальбомов. Похожие предложения, по оригинальности пока нельзя встретить на других ресурсах конкурирующих организаций.
					+e.BUTTON.suggest-more.js-product-suggest-more(type='button')
						+icon('icon-arr-def', 'product__suggest-more-icon')
			+e.examples
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-10.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Фотокнига с голографическиой 3D обложкой!
						+e.item-descr Размер: 20 х 20 см. (Снаружи будут ваши фотографии)
						+e.item-buy
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 450&nbsp;
									+icon('icon-ruble','product__val-icon')
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-11.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Фотокнига с обложкой «Под кожу».
						+e.item-descr Размер 15 х 20 см.
						+e.item-buy
							+e.A.buy-opt(href="#!") Опт. от
								= ' '
								+e.SPAN 650&nbsp;
								+icon('icon-ruble','product__val-icon')
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 2250&nbsp;
									+icon('icon-ruble','product__val-icon')
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-12.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Фотокниги с обложками для свадебной тематики.
						+e.item-descr Новинка этого вида обложки!
						+e.item-buy
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current от 2450&nbsp;
									+icon('icon-ruble','product__val-icon')
			+e.A(href="#!").suggest-btn.btn._dark Фотокниги

	+e.container.container
		+e.sect.js-product-sect-open
			+icon('icon-arr-def', 'product__sect-arr')
			+e.sect-title
				+e.sect-icon-wrap
					+icon('icon-souvenirs', 'product__sect-icon')
				+e.SPAN Значки и ручные сувениры. Опт и розница.
		+e.inn
			+e.suggest
				+e.suggest-text
					+e.suggest-title РУЧНЫЕ СУВЕНИРЫ
					+e.P.suggest-descr Изготовление сувенирных значков, есть акриловые фотомагниты, открывашки, ручки, брелки, медальоны «ГосНомер»,
					+e.P.suggest-descr._hidden бейджи для сотрудников, карманные зеркальца и даже заколки с логотипами для промоутеров. Все что нужно, с доставкой по России! Профессионально изготовим дизайн закатных значков с вашими логотипами и фотографиями для печати.
					+e.BUTTON.suggest-more.js-product-suggest-more(type='button')
						+icon('icon-arr-def', 'product__suggest-more-icon')
					+e.suggest-links
						+e.A(href="#!").suggest-link
							+e.SPAN Фотомагниты на виниле
						+e.A(href="#!").suggest-link
							+e.SPAN Магниты на холодильник
						+e.A(href="#!").suggest-link
							+e.SPAN Значки закатные
						+e.A(href="#!").suggest-link
							+e.SPAN Каталог дизайнов значков
			+e.examples
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-13.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Изготовление нагрудных значков 37 мм.
						+e.item-descr На иголочке.
						+e.item-buy
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 0&nbsp;
									+icon('icon-ruble','product__val-icon')
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-14.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Скрепки с вашими логотипами.
						+e.item-descr Можно сделать и с вашей фотографией!
						+e.item-buy
							+e.A.buy-opt(href="#!") Опт. от
								= ' '
								+e.SPAN 220&nbsp;
								+icon('icon-ruble','product__val-icon')
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 450&nbsp;
									+icon('icon-ruble','product__val-icon')
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-15.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Брелок «ГосНомер» отличный подарок автолюбителям.
						+e.item-descr Вариант - светящийся в темноте.
						+e.item-buy
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current от 185&nbsp;
									+icon('icon-ruble','product__val-icon')
			+e.A(href="#!").suggest-btn.btn Значки / Магниты

	+e.container.container
		+e.sect._color.js-product-sect-open
			+icon('icon-arr-def', 'product__sect-arr')
			+e.sect-title
				+e.sect-icon-wrap
					+icon('icon-pictures', 'product__sect-icon')
				+e.SPAN Печать картин, натяжка на подрамники и изготовление багетных рам.
		+e.inn
			+e.suggest
				+e.suggest-text
					+e.suggest-title ИЗГОТОВЛЕНИЕ КАРТИН
					+e.P.suggest-descr Печать и изготовление картин. В нашем каталоге вы можете выбрать  понравившееся вам картины, мы с удовольствиемизготовим их для Вас.
					+e.P.suggest-descr._hidden Картины можно изготовить любого размера (в дополнение к предложенным заготовкам).
					+e.BUTTON.suggest-more.js-product-suggest-more(type='button')
						+icon('icon-arr-def', 'product__suggest-more-icon')
					+e.suggest-links
						+e.A(href="#!").suggest-link
							+e.SPAN  Каталог картин
						+e.A(href="#!").suggest-link
							+e.SPAN  Багетное оформление
						+e.A(href="#!").suggest-link
							+e.SPAN  Мозаика из фотографий
						+e.A(href="#!").suggest-link
							+e.SPAN  Портрет по фото на холсте
			+e.examples
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-16.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Печть на холсте любой картины и натяжка на подрамник.
						+e.item-descr Размер 500х700 мм
						+e.item-buy
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 1750&nbsp;
									+icon('icon-ruble','product__val-icon')
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-17.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Изготовление картин. Печать и натяжка.
						+e.item-descr Леонадо Да Винчи. Размер 800х650
						+e.item-buy
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 1650&nbsp;
									+icon('icon-ruble','product__val-icon')
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-18.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Багетное оформление картин, вышивок.
						+e.item-descr Услуги нашей багетной мастерской.
						+e.item-buy
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current от 550&nbsp;
									+icon('icon-ruble','product__val-icon')
			+e.A(href="#!").suggest-btn.btn._dark Печать картин

	+e.container.container
		+e.sect.js-product-sect-open
			+icon('icon-arr-def', 'product__sect-arr')
			+e.sect-title
				+e.sect-icon-wrap
					+icon('icon-balloons', 'product__sect-icon')
				+e.SPAN Воздушные шары с гелием, идеи для праздников.
		+e.inn
			+e.suggest
				+e.suggest-text
					+e.suggest-title ВОЗДУШНЫЕ ШАРЫ С ДОСТАВКОЙ
					+e.P.suggest-descr Наши цены - одни из самых привлекательных, а оптовый ассортимент превосходит розничных городских операторов.
					+e.P.suggest-descr._hidden Производим собственные поставки из других регионов, оригинальные галографические ленты, шары с печатью, цифры и другое, смотрите каталог!
					+e.BUTTON.suggest-more.js-product-suggest-more(type='button')
						+icon('icon-arr-def', 'product__suggest-more-icon')
					+e.suggest-links._more-text
						+e.A(href="#!").suggest-link
							+e.SPAN  Шары с гелием (классические)
						+e.A(href="#!").suggest-link
							+e.SPAN  Шары «С Днём Рождения»
						+e.A(href="#!").suggest-link
							+e.SPAN  Шары «Цифры и Звёзды»
						+e.A(href="#!").suggest-link
							+e.SPAN  Фольгированные шары
			+e.examples
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-19.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Воздушные шары - букеты.
						+e.item-descr Размер 25 см.
						+e.item-buy
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 1750&nbsp;
									+icon('icon-ruble','product__val-icon')
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-20.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Шары - цыфры.
						+e.item-descr Леонадо Да Винчи. Размер 800х650
						+e.item-buy
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current 1650&nbsp;
									+icon('icon-ruble','product__val-icon')
				+e.item
					+e.item-pic-wrap.js-product-item-pic
						+e.A(href='#!').item-pic.decor
							+e.IMG.img(src="img/content/prod-21.jpg")
							.decor__line
						+e.A.zoom(href='img/content/prod-2_lg.jpg' data-fancybox='product-3')
							+e.SPAN.zoom-icon-wrap
								+icon('icon-loupe','product__zoom-icon')
					+e.item-info
						+e.item-title Шары звёзды.
						+e.item-descr Услуги нашей багетной мастерской.
						+e.item-buy
							+e.BUTTON(type="button").cart-add
								+e.SPAN.price-current от 550&nbsp;
									+icon('icon-ruble','product__val-icon')
			+e.A(href="#!").suggest-btn.btn Воздушные шары