+b.SECTION.request
	+e.container.container
		+e.title.title-sm Отправка запроса на расчёт
		+e.P.descr Отправить запрос на расчёт заказа можно в этой форме или на почту:
			=' '
			+e.A.link(href="mailto:tp-smr@yandex.ru")
				+e.SPAN tp-smr@yandex.ru
		+e.wrap
			+e.FORM(action="#!")
				+e.row
					+e.field._name
						+e.INPUT.input(type="text" name="" required placeholder="Имя / Организация")
					+e.field._tel
						+e.INPUT.input(type="tel" name="" required placeholder="Телефон")
					+e.field._email
						+e.INPUT.input(type="email" name="" required placeholder="Почта для ответа")
				+e.message-wrap
					+e.TEXTAREA(placeholder="Комментарий").message
					+e.BUTTON(type="button").message-extend.js-message-extend
						+icon('icon-arr-double', 'request__message-icon')
				+b.send._request
					+e.add
						+e.LABEL.add-btn(for='upload-1') Добавить файл
							+e.INPUT.add-input(id='upload-1' type='file' accept='image/*' name='' multiple)
						+e.add-text(style='display: none') Прикрепленные файлы:
					+e.files
						+e.item.decor._sm
							+e.IMG(src='img/content/file-1.jpg')
							+e.BUTTON.item-cancel(type='button')
								+icon('icon-close', 'send__item-cancel-icon')
							+b.decor__line
						+e.item.decor._sm
							+e.IMG(src='img/content/file-2.jpg')
							+e.BUTTON.item-cancel(type='button')
								+icon('icon-close', 'send__item-cancel-icon')
							+b.decor__line
						+e.message(style='display: none')
							+icon('icon-mark', 'send__message-icon')
							+e.message-text Письмо отправлено!
				+e.row
					+b.BUTTON(type='submit').send-btn.request__send-btn Отправить