if rubricClass ? rubricClass : rubricClass = []

+b.rubric(class= rubricClass ? rubricClass : '')
	+e.item
		+e.UL.list
			+e.list-item
				+e.A(href="#!").list-link.js-open-rubric-list
					+e.SPAN Услуги фирмы
					+icon('icon-arr-def','rubric__list-icon')
				+e.UL.sub-list
					+e.sub-item
						+e.A(href="#!").sub-link Печать на футболочке
					+e.sub-item
						+e.A(href="#!").sub-link Печать на маечке
					+e.sub-item
						+e.A(href="#!").sub-link Очень много печатей на кружечке
	+e.item
		+e.UL.list
			+e.list-item
				+e.A(href="#!").list-link.js-open-rubric-list
					+e.SPAN МАШИННАЯ ВЫШИВКА
					+icon('icon-arr-def','rubric__list-icon')
				+e.UL.sub-list
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 1
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 2
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 3
	+e.item
		+e.UL.list
			+e.list-item
				+e.A(href="#!").list-link.js-open-rubric-list
					+e.SPAN КАРТЫ И БАГЕТ
					+icon('icon-arr-def','rubric__list-icon')
				+e.UL.sub-list
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 1
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 2
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 3
	+e.item
		+e.UL.list
			+e.list-item
				+e.A(href="#!").list-link._color.js-open-rubric-list
					+e.SPAN ПЕЧАТЬ НА ОДЕЖДЕ
					+icon('icon-arr-def','rubric__list-icon')
				+e.UL.sub-list
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 1
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 2
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 3
	+e.item
		+e.UL.list
			+e.list-item
				+e.A(href="#!").list-link._color.js-open-rubric-list
					+e.SPAN СУВЕНИРЫ ПО ТЕМАТИКЕ
					+icon('icon-arr-def','rubric__list-icon')
				+e.UL.sub-list
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 1
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 2
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 3
	+e.item
		+e.UL.list
			+e.list-item
				+e.A(href="#!").list-link._color.js-open-rubric-list
					+e.SPAN ФОТОКНИГИ
					+icon('icon-arr-def','rubric__list-icon')
				+e.UL.sub-list
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 1
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 2
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 3
	+e.item
		+e.UL.list
			+e.list-item
				+e.A(href="#!").list-link._color.js-open-rubric-list
					+e.SPAN ВОЗДУШНЫЕ ШАРЫ
					+icon('icon-arr-def','rubric__list-icon')
				+e.UL.sub-list
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 1
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 2
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 3
	+e.item
		+e.UL.list
			+e.list-item
				+e.A(href="#!").list-link.js-open-rubric-list
					+e.SPAN СУВЕНИРЫ НА ПОСУДЕ
					+icon('icon-arr-def','rubric__list-icon')
				+e.UL.sub-list
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 1
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 2
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 3
	+e.item
		+e.UL.list
			+e.list-item
				+e.A(href="#!").list-link.js-open-rubric-list
					+e.SPAN ЗНАЧКИ / БРЕЛКИ
					+icon('icon-arr-def','rubric__list-icon')
				+e.UL.sub-list
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 1
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 2
					+e.sub-item
						+e.A(href="#!").sub-link Услуга 3