+b.ASIDE.rubric._side.page__side
	+e.UL.list.js-rubric-list
		+e.list-item._color.is-active
			+e.A(href="#!").list-link._color
				+e.SPAN СУВЕНИРЫ ПО ТЕМАТИКЕ
				+icon('icon-arr-def','rubric__list-icon')
			+e.UL.sub-list
				+e.sub-item
					+e.A(href="#!").sub-link Подарки мужчине
				+e.sub-item
					+e.A(href="#!").sub-link Подарки женщине
				+e.mini.js-rubric-mini-list
					+e.mini-title Корпоративные
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link(href='#!') Корпоративные 1
						+e.mini-item
							+e.A.mini-link(href='#!') Корпоративные 2
						+e.mini-item
							+e.A.mini-link(href='#!') Корпоративные 3
				+e.sub-item
					+e.A(href="#!").sub-link Популярные
				+e.sub-item
					+e.A(href="#!").sub-link В День Рождения
				+e.sub-item
					+e.A(href="#!").sub-link Оригинальные идеи
				+e.sub-item
					+e.A(href="#!").sub-link Для детей
				+e.sub-item
					+e.A(href="#!").sub-link Учителю
				+e.sub-item
					+e.A(href="#!").sub-link Маме
				+e.sub-item
					+e.A(href="#!").sub-link Папе
				+e.sub-item
					+e.A(href="#!").sub-link Для бабушки
				+e.sub-item._best
					+e.A(href="#!").sub-link.link-decor._rubric
						+e.SPAN Лучшие подарки (наш выбор)
				+e.mini.js-rubric-mini-list.is-active
					+e.mini-title Надписи имён
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item.is-active
							+e.A.mini-link(href='#!') Вышивки имён
								+icon('icon-arr-def','rubric__mini-icon-sm')
						+e.mini-item
							+e.A.mini-link(href='#!') Имена на кружках
						+e.mini-item
							+e.A.mini-link(href='#!') Имена на майках
				+e.mini.js-rubric-mini-list
					+e.mini-title Сезонные 23/8/9/31
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link(href='#!') 8 марта
						+e.mini-item
							+e.A.mini-link(href='#!') 23 февраля
						+e.mini-item
							+e.A.mini-link(href='#!') 9 мая
						+e.mini-item
							+e.A.mini-link(href='#!') 1 сентября
						+e.mini-item
							+e.A.mini-link(href='#!') День Валентина
						+e.mini-item
							+e.A.mini-link(href='#!') Новый Год

	+e.UL.list.js-rubric-list
		+e.list-item
			+e.A(href="#!").list-link
				+e.SPAN МАШИННАЯ ВЫШИВКА
				+icon('icon-arr-def','rubric__list-icon')
			+e.UL.sub-list
				+e.mini.js-rubric-mini-list
					+e.mini-title Продукция и услуги
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link(href='#!') Полотенца с вышивкой
						+e.mini-item
							+e.A.mini-link(href='#!') Халаты с вышивкой
						+e.mini-item
							+e.A.mini-link(href='#!') Вышивка шевронов
						+e.mini-item
							+e.A.mini-link(href='#!') Вышивание на крое
				+e.sub-item._best
					+e.A(href="#!").sub-link.link-decor._rubric
						+e.SPAN Лучшие предложения по вышивке (наш выбор)
				+e.sub-item
					+e.A(href="#!").sub-link Новинки дизайнов вышивок
				+e.sub-item
					+e.A(href="#!").sub-link Образцы наших работ

	+e.UL.list.js-rubric-list
		+e.list-item._color
			+e.A(href="#!").list-link._color
				+e.SPAN ПЕЧАТЬ НА ОДЕЖДЕ
				+icon('icon-arr-def','rubric__list-icon')
			+e.UL.sub-list
				+e.sub-item
					+e.A(href="#!").sub-link.link-decor._rubric
						+e.SPAN Майки - все дизайны
				+e.sub-item
					+e.A(href="#!").sub-link Новинки дизайнов
				+e.sub-item._best
					+e.A(href="#!").sub-link.link-decor._rubric
						+e.SPAN Лучшие предложения - одежда (наш выбор)
				+e.mini.js-rubric-mini-list
					+e.mini-title Заготовки под нанесение
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link(href='#!') Белые майки
						+e.mini-item
							+e.A.mini-link(href='#!') Цветные майки
						+e.mini-item
							+e.A.mini-link(href='#!') Майки поло
						+e.mini-item
							+e.A.mini-link(href='#!') Майки женские
						+e.mini-item
							+e.A.mini-link(href='#!') Детские майки
						+e.mini-item
							+e.A.mini-link(href='#!') Кепки
						+e.mini-item
							+e.A.mini-link(href='#!') Все заготовки
				+e.sub-item._margin
					+e.A(href="#!").sub-link Печать на кепках
				+e.sub-item
					+e.A(href="#!").sub-link На «Вашей» одежде
				+e.sub-item
					+e.A(href="#!").sub-link Спортивная одежда
				+e.sub-item
					+e.A(href="#!").sub-link Логотипы на одежде
				+e.sub-item._examples
					+e.A(href="#!").sub-link Образцы наших работ
	+e.UL.list.js-rubric-list
		+e.list-item._color
			+e.A(href="#!").list-link._color
				+e.SPAN ФОТОКНИГИ
				+icon('icon-arr-def','rubric__list-icon')
			+e.UL.sub-list
				+e.sub-item
					+e.A(href="#!").sub-link Печать фотокниг
				+e.sub-item
					+e.A(href="#!").sub-link Обложки эксклюзивные
				+e.sub-item
					+e.A(href="#!").sub-link Оригинальные форзацы
				+e.sub-item
					+e.A(href="#!").sub-link Дизайн на фотокнигу
				+e.sub-item._best
					+e.A(href="#!").sub-link.link-decor._rubric
						+e.SPAN Лучшие предложения по фотокнигам (наш выбор)
				+e.sub-item
					+e.A(href="#!").sub-link Образцы наших работ

	+e.UL.list.js-rubric-list
		+e.list-item
			+e.A(href="#!").list-link
				+e.SPAN ЗНАЧКИ / БРЕЛКИ
				+icon('icon-arr-def','rubric__list-icon')
			+e.UL.sub-list
				+e.sub-item
					+e.A(href="#!").sub-link._has-hit
						+e.SPAN Значки - сувениры
						+e.SPAN.hit Хит!
				+e.sub-item
					+e.A(href="#!").sub-link Новинки дизайна значков
				+e.mini.js-rubric-mini-list
					+e.mini-title Возможные заготовки
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link(href='#!') Значки на иголочке
						+e.mini-item
							+e.A.mini-link(href='#!') Значки на магнитах
						+e.mini-item
							+e.A.mini-link(href='#!') Брелки
						+e.mini-item
							+e.A.mini-link(href='#!') Брелки ГосНомер
						+e.mini-item
							+e.A.mini-link(href='#!') Ручки
						+e.mini-item
							+e.A.mini-link(href='#!') Скрепки с логотипами
						+e.mini-item
							+e.A.mini-link(href='#!') Зеркальца закатные
						+e.mini-item
							+e.A.mini-link(href='#!') Открывашки
						+e.mini-item
							+e.A.mini-link(href='#!') Бейджи
						+e.mini-item
							+e.A.mini-link(href='#!') Медальоны
						+e.mini-item
							+e.A.mini-link(href='#!') На холодильник
						+e.mini-item
							+e.A.mini-link(href='#!') Магниты из винила
				+e.sub-item._examples
					+e.A(href="#!").sub-link Образцы наших работ
				+e.sub-item._examples
					+e.A(href="#!").sub-link Логотипы на значках

	+e.UL.list.js-rubric-list
		+e.list-item
			+e.A(href="#!").list-link
				+e.SPAN ПЕЧАТЬ КАРТИН И БАГЕТ
				+icon('icon-arr-def','rubric__list-icon')
			+e.UL.sub-list
				+e.mini.js-rubric-mini-list
					+e.mini-title Каталог картин
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link(href='#!') Картины для дома (выбор)
						+e.mini-item
							+e.A.mini-link(href='#!') Картины для офиса
						+e.mini-item
							+e.A.mini-link(href='#!') Постеры
						+e.mini-item
							+e.A.mini-link(href='#!') Современные фото
						+e.mini-item
							+e.A.mini-link._has-hit(href='#!')
								+e.SPAN Репродукции картин
								+e.SPAN.hit Хит!
						+e.mini-item
							+e.A.mini-link(href='#!') Все картины художников
						+e.mini-item
							+e.A(href="#!").mini-link.link-decor._rubric
								+e.SPAN Наш выбор (рекомендуем)
				+e.sub-item
					+e.A(href="#!").sub-link Модульные картины
				+e.sub-item
					+e.A(href="#!").sub-link Мозаика из фотографий
				+e.sub-item
					+e.A(href="#!").sub-link Портрет по фото на холсте
				+e.sub-item
					+e.A(href="#!").sub-link Багетное оформление
				+e.sub-item._examples
					+e.A(href='#!').sub-link Готовые картины и рамки!
				+e.sub-item._examples
					+e.A(href='#!').sub-link Образцы наших работ

	+e.UL.list.js-rubric-list
		+e.list-item._color
			+e.A(href="#!").list-link._color
				+e.SPAN Воздушные шары
				+icon('icon-arr-def','rubric__list-icon')
			+e.UL.sub-list
				+e.sub-item
					+e.A(href="#!").sub-link._has-hit
						+e.SPAN Лучшие предложения
						+e.SPAN.hit Хит!
				+e.mini.js-rubric-mini-list
					+e.mini-title Воздушные шары с гелием
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link._has-hit(href='#!')
								+e.SPAN Шары «Пастель»
								+e.SPAN.hit._color Хит!
						+e.mini-item
							+e.A.mini-link(href='#!') Шары «Перламутр»
						+e.mini-item
							+e.A.mini-link(href='#!') Шары «Кристалл»
						+e.mini-item
							+e.A.mini-link._has-hit(href='#!')
								+e.SPAN Шары «Металлик»
								+e.SPAN.hit._color Хит!
						+e.mini-item
							+e.A.mini-link(href='#!') Шары «Неон»
						+e.mini-item
							+e.A.mini-link(href='#!') Шары «С Днём Рождения»
						+e.mini-item
							+e.A.mini-link(href='#!') Большие воздушные шары
						+e.mini-item
							+e.A.mini-link(href='#!') Прозрачные шары
						+e.mini-item
							+e.A.mini-link(href='#!') Светящиеся шары
						+e.mini-item
							+e.A.mini-link(href='#!') Шары - «Сердца»
						+e.mini-item
							+e.A.mini-link(href='#!') Ленты для шаров
				+e.mini.js-rubric-mini-list
					+e.mini-title Шары на День Рождения
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link(href='#!') Шары «С Днём Рождения»
						+e.mini-item
							+e.A.mini-link(href='#!') Шары «Цифры» и «Буквы»
						+e.mini-item
							+e.A.mini-link._has-hit(href='#!')
								+e.SPAN Шары «Звёзды»
								+e.SPAN.hit._color Хит!
				+e.mini.js-rubric-mini-list
					+e.mini-title Шары с рисунком
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link(href='#!') На День Рождения
						+e.mini-item
							+e.A.mini-link(href='#!') Детские
						+e.mini-item
							+e.A.mini-link(href='#!') Для любимых
						+e.mini-item
							+e.A.mini-link(href='#!') На выписку из роддома
						+e.mini-item
							+e.A.mini-link(href='#!') Сезонные
				+e.sub-item._examples
					+e.A(href="#!").sub-link Букеты из воздушных шаров
				+e.sub-item._examples
					+e.A(href="#!").sub-link Фольгированные шары
				+e.sub-item._examples
					+e.A(href="#!").sub-link Ходячие шары - фигурки
				+e.sub-item._examples
					+e.A(href="#!").sub-link Оригинальные шары

				+e.sub-item._examples._margin
					+e.A(href="#!").sub-link Идеи для оформления
				+e.sub-item._examples
					+e.A(href="#!").sub-link Идеи для подарков с шарами
				+e.sub-item._examples
					+e.A(href="#!").sub-link Фото различных работ
				+e.sub-item._examples
					+e.A(href="#!").sub-link Доставка шаров по Самаре

	+e.UL.list.js-rubric-list
		+e.list-item
			+e.A(href="#!").list-link
				+e.SPAN СУВЕНИРЫ НА ПОСУДЕ
				+icon('icon-arr-def','rubric__list-icon')
			+e.UL.sub-list
				+e.mini.js-rubric-mini-list
					+e.mini-title Кружки / Дизайн подарка
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link._has-hit(href='#!')
								+e.SPAN На День Рождения
						+e.mini-item
							+e.A.mini-link(href='#!') Для любимых
						+e.mini-item
							+e.A.mini-link(href='#!') Кружку мужчине
						+e.mini-item
							+e.A.mini-link(href='#!') Кружку женщине
						+e.mini-item
							+e.A.mini-link(href='#!') Кружечки детям
						+e.mini-item
							+e.A.mini-link(href='#!') Учителю
						+e.mini-item
							+e.A.mini-link(href='#!') Маме
						+e.mini-item
							+e.A.mini-link(href='#!') Папе
						+e.mini-item
							+e.A.mini-link(href='#!') Для бабушки
						+e.mini-item
							+e.A.mini-link(href='#!') Популярные
						+e.mini-item
							+e.A.mini-link(href='#!') Кружки с именем

				+e.sub-item._examples
					+e.A(href="#!").sub-link._has-hit
						+e.SPAN Оригинальные кружки
						+e.hit Хит!
				+e.sub-item._examples
					+e.A(href="#!").sub-link.link-decor._rubric
						+e.SPAN Лучшие дизайны кружек

				+e.mini._margin.js-rubric-mini-list
					+e.mini-title Сезонные «Кружки»
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Дизайн на 23 февраля
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Дизайн для 8 марта
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Дизайн на 1 сентября
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Новогодние кружки
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Дизайн кружек на 9 МАЯ
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN На День Св. Валенитна

				+e.mini.js-rubric-mini-list
					+e.mini-title Заготовки под нанесение
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Белые кружки
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Цветные кружки
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Кружки хамелеоны
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Упаковка для кружек
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Пивные кружки
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Кружки с сердечками
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Прозрачные кружки
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Золотые и серябряные
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Кружки с сердечками
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Кофейные чашки
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Чашки с ложками
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Тарелки
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Пазлы
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Все заготовки

				+e.sub-item._examples
					+e.A(href="#!").sub-link Образцы наших работ
				+e.sub-item._examples
					+e.A(href="#!").sub-link Логотипы на кружках
				+e.sub-item._examples
					+e.A(href="#!").sub-link Новинки дизайна кружек
				+e.sub-item._examples
					+e.A(href="#!").sub-link.link-decor._rubric
						+e.SPAN Визуализация 3D!

	+e.UL.list.js-rubric-list
		+e.list-item
			+e.A(href="#!").list-link
				+e.SPAN УCЛУГИ ФИРМЫ
				+icon('icon-arr-def','rubric__list-icon')
			+e.UL.sub-list
				+e.mini.js-rubric-mini-list
					+e.mini-title Копировальный центр
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link(href='#!') Печать чертежей
						+e.mini-item
							+e.A.mini-link(href='#!') Копирование чертежей
						+e.mini-item
							+e.A.mini-link(href='#!') Сканирование А4 - А0
						+e.mini-item
							+e.A.mini-link(href='#!') Переплётные работы
						+e.mini-item
							+e.A.mini-link(href='#!') Ламинирование

				+e.mini.js-rubric-mini-list
					+e.mini-title Широкофрматная печать
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Печать на холсте
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Постеры, плакаты афиши
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Печать на баннере

				+e.mini.js-rubric-mini-list
					+e.mini-title Полиграфические услуги
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Визитки
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Цифровая печать
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Тиражирование
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Наклейки, резка плёнки
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Дисконтные карты
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Дизайн продукции

				+e.mini.js-rubric-mini-list
					+e.mini-title Багетная мастерская
						+icon('icon-arr-def','rubric__mini-icon')
					+e.UL.mini-list
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Натяжка на подрамники
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Изготовление рам - «Багет»
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Зеркала в багете
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Оформление вышивок

						+e.mini-item._margin
							+e.A.mini-link(href='#!')
								+e.SPAN Картины для дома (выбор)
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Картины для офиса
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Постеры
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Репродукции картин
						+e.mini-item
							+e.A.mini-link(href='#!')
								+e.SPAN Современные фото
						+e.mini-item
							+e.A.mini-link._has-hit(href='#!')
								+e.SPAN Все картины
								+e.SPAN.hit Хит!
						+e.mini-item
							+e.A.mini-link.link-decor._rubric(href='#!')
								+e.SPAN Наш выбор (рекомендуем)

				+e.sub-item._examples
					+e.A(href="#!").sub-link Изготовление подарков
				+e.sub-item._examples
					+e.A(href="#!").sub-link Образцы наших работ