if socialsClass ? socialsClass : socialsClass = []

+b.socials(class= socialsClass ? socialsClass : '')
	+e.A.item._vk(href='#!')
		+icon('icon-vk','icon')
	+e.A.item._fb(href='#!')
		+icon('icon-fb','icon')
	+e.A.item._tw(href='#!')
		+icon('icon-tw','icon')
	+e.A.item._od(href='#!')
		+icon('icon-od','icon')
	+e.A.item._gp(href='#!')
		+icon('icon-gp','icon')