include _mixins
doctype html
html
  head
    include _head

  body(class=bodyClass)
    include ../bemto/bemto

    .out(class=outClass)
      block header

      block content

      block footer
        include ../partials/_footer

    block scripts
      script(type="text/javascript" src="js/app.js")