$icons: (0:0)
$icons: map-merge($icons,('benefit_1': (X: 0px, Y:0px, W: 118px, H: 118px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('benefit_2': (X: 0px, Y:-128px, W: 118px, H: 118px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('benefit_3': (X: -128px, Y:0px, W: 118px, H: 118px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('btn_arr-act': (X: -498px, Y:-338px, W: 35px, H: 35px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('btn_arr-hvr': (X: -498px, Y:-293px, W: 35px, H: 35px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('btn_arr': (X: -498px, Y:-428px, W: 35px, H: 35px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('btn_cart-act': (X: -498px, Y:-98px, W: 43px, H: 40px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('btn_cart-hvr': (X: -498px, Y:-148px, W: 43px, H: 40px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('btn_cart': (X: -498px, Y:-198px, W: 43px, H: 40px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('btn_dark-hvr': (X: -498px, Y:-383px, W: 35px, H: 35px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('btn_dark': (X: -498px, Y:-248px, W: 35px, H: 35px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('dots_form': (X: -371px, Y:-376px, W: 53px, H: 39px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('edit-act': (X: -236px, Y:-256px, W: 108px, H: 110px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('edit-hvr': (X: -118px, Y:-256px, W: 108px, H: 110px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('edit': (X: 0px, Y:-256px, W: 108px, H: 110px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('file-act': (X: -376px, Y:-114px, W: 112px, H: 104px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('file-hvr': (X: -376px, Y:-228px, W: 112px, H: 104px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('file': (X: -376px, Y:0px, W: 112px, H: 104px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('geo': (X: -246px, Y:-439px, W: 14px, H: 26px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('heart-act': (X: -256px, Y:-120px, W: 110px, H: 110px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('heart-hvr': (X: -256px, Y:0px, W: 110px, H: 110px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('heart': (X: -128px, Y:-128px, W: 110px, H: 110px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('mail_form': (X: -498px, Y:0px, W: 50px, H: 39px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('parts': (X: -246px, Y:-376px, W: 51px, H: 53px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('pass-log': (X: -124px, Y:-376px, W: 112px, H: 90px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('phone_form': (X: -498px, Y:-49px, W: 49px, H: 39px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('search': (X: -307px, Y:-376px, W: 54px, H: 50px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('user-log': (X: 0px, Y:-376px, W: 114px, H: 92px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('user_form': (X: -434px, Y:-376px, W: 52px, H: 38px, TW: 548px, TH: 468px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2
@mixin sprite-triple($iconName)
   background-image: url(icon-attr($iconName, IMG))
   $width: icon-attr($iconName, W)
   $height: icon-attr($iconName, H)
   width: $width/3
   height: $height/3
   $x: icon-attr($iconName, X)
   $y: icon-attr($iconName, Y)
   background-position: $x/3 $y/3
   $tw: icon-attr($iconName, TW)
   $th: icon-attr($iconName, TH)
   background-size: $tw/3 $th/3


@mixin s($i)
  +sprite($i)
@mixin st($i)
  +sprite-triple($i)
@mixin sr($i)
  +sprite-retina($i)

//
//.icon-benefit_1
//  width: 118px
//  height: 118px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-benefit_2
//  width: 118px
//  height: 118px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -128px
//
//.icon-benefit_3
//  width: 118px
//  height: 118px
//  background-image: url('../img/sprite.png')
//  background-position: -128px 0px
//
//.icon-btn_arr-act
//  width: 35px
//  height: 35px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -338px
//
//.icon-btn_arr-hvr
//  width: 35px
//  height: 35px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -293px
//
//.icon-btn_arr
//  width: 35px
//  height: 35px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -428px
//
//.icon-btn_cart-act
//  width: 43px
//  height: 40px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -98px
//
//.icon-btn_cart-hvr
//  width: 43px
//  height: 40px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -148px
//
//.icon-btn_cart
//  width: 43px
//  height: 40px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -198px
//
//.icon-btn_dark-hvr
//  width: 35px
//  height: 35px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -383px
//
//.icon-btn_dark
//  width: 35px
//  height: 35px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -248px
//
//.icon-dots_form
//  width: 53px
//  height: 39px
//  background-image: url('../img/sprite.png')
//  background-position: -371px -376px
//
//.icon-edit-act
//  width: 108px
//  height: 110px
//  background-image: url('../img/sprite.png')
//  background-position: -236px -256px
//
//.icon-edit-hvr
//  width: 108px
//  height: 110px
//  background-image: url('../img/sprite.png')
//  background-position: -118px -256px
//
//.icon-edit
//  width: 108px
//  height: 110px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -256px
//
//.icon-file-act
//  width: 112px
//  height: 104px
//  background-image: url('../img/sprite.png')
//  background-position: -376px -114px
//
//.icon-file-hvr
//  width: 112px
//  height: 104px
//  background-image: url('../img/sprite.png')
//  background-position: -376px -228px
//
//.icon-file
//  width: 112px
//  height: 104px
//  background-image: url('../img/sprite.png')
//  background-position: -376px 0px
//
//.icon-geo
//  width: 14px
//  height: 26px
//  background-image: url('../img/sprite.png')
//  background-position: -246px -439px
//
//.icon-heart-act
//  width: 110px
//  height: 110px
//  background-image: url('../img/sprite.png')
//  background-position: -256px -120px
//
//.icon-heart-hvr
//  width: 110px
//  height: 110px
//  background-image: url('../img/sprite.png')
//  background-position: -256px 0px
//
//.icon-heart
//  width: 110px
//  height: 110px
//  background-image: url('../img/sprite.png')
//  background-position: -128px -128px
//
//.icon-mail_form
//  width: 50px
//  height: 39px
//  background-image: url('../img/sprite.png')
//  background-position: -498px 0px
//
//.icon-parts
//  width: 51px
//  height: 53px
//  background-image: url('../img/sprite.png')
//  background-position: -246px -376px
//
//.icon-pass-log
//  width: 112px
//  height: 90px
//  background-image: url('../img/sprite.png')
//  background-position: -124px -376px
//
//.icon-phone_form
//  width: 49px
//  height: 39px
//  background-image: url('../img/sprite.png')
//  background-position: -498px -49px
//
//.icon-search
//  width: 54px
//  height: 50px
//  background-image: url('../img/sprite.png')
//  background-position: -307px -376px
//
//.icon-user-log
//  width: 114px
//  height: 92px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -376px
//
//.icon-user_form
//  width: 52px
//  height: 38px
//  background-image: url('../img/sprite.png')
//  background-position: -434px -376px
//